*{
  font-family: "Montserrat", sans-serif;
}

/* body{
  margin: 0;
  padding: 0;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(243, 244, 246, 1);
} */


.absolute{
  display: flex;
  justify-content: center;
  position: absolute;
  top: -150px;
}

.relative{
  position: relative;
  display: flex;
  justify-content: center;
}